.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 25%);
  justify-items: center;
  align-items: center;
}

.item-2 {
  justify-self: stretch;
}

.item-11 {
  align-self: stretch;
}


