.container {
  display: grid;
  height: 100vh;
  grid-template-columns:
      [l-sidebar-s] repeat(3, 1fr 10px) [l-sidebar-e] repeat(6, 1fr) [r-sidebar-s] repeat(3, 1fr) [r-sidebar-e];
  grid-template-rows:
      [header-s]
        80px
      [header-e]
        1fr
      [footer-s]
        100px
      [footer-e];
  grid-gap: 20px 10px;

  grid-template-areas:
    "header header header header header header header header header header header header"
    "left left left content content content content content content right right right"
    "footer footer footer footer footer footer footer footer footer footer footer footer "
}

.item-1 {
  grid-area: header;
}

.item-2 {
  grid-area: footer;
}

.item-3 {
  grid-area: content;
}

.item-4 {
  grid-area: left;
}

.item-5 {
  grid-area: right;
}
